h1 {
    text-align: center;
    font-size: 10vw;
}

.quiz {
    font-size: 4vw;
    border-style: solid;
    margin: 50px;
    text-align: center;
}

input{
    width: 2em;
    height: 2em;
}

.button {
    width: 50%;
    height: auto;
    font-size: 5vw;
    margin: 1em;
    padding: 0.5em;
}

label{
    padding: 10px;
}

@media only screen and (orientation: landscape){
    h1{
        font-size: 4vw;
    }

    .quiz, .button{
        font-size: 2vw;
    }

    input {
        width: 1em;
        height: 1em;
    }

}

